body{
    background-color:white;
}

.logo{
    width: 55px;
    margin-left: 6px;
    margin-right: 19px;
}
.font-align{
    text-align: center;
}
.hey{
    position:relative;
    right:10px;
    margin:10px;
}


.about{
    background-color: #d3d3d3;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
    color:#000000;
    text-align:center;
    text-shadow: 3px #828282;
}

.back{
    background-image: url('TeacherBG(1).jpg');
}

.x{
    background-color: #45e96a;
    color:#151c29;
    text-align:left
    font-family: 'baloo Bhai 2', cursive;
    font-weight:bold;
    border:2px solid;
    border-radius: 5%;
    margin:10px;
    padding:4px;
    box-shadow:2px 2px 9px #828282;
    
}
.Skills {
    text-align: center;
    padding-top: 1cm;
    background-color: #eee;
    display:flex;
    flex-direction:column;
    align-items:center;

}








